.section_3{
  
  
    background-color: $grey4;
   
    ul li img{
        width: 80px;
        height: 80px;
        transition: all 200ms;
        cursor: pointer;
    }

    ul li img:hover{
        margin: 0 1rem !important;
        transform: scale(1.2);
    }

    ul li:first-child img:hover{
        margin-right: 1rem !important;
    }
}