.section_1 {
  background-color: $grey3;
  max-height: 1100px;
  overflow: hidden;
  min-height: 100vh;

  .header nav {
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999999;
    top: 2vw;
    // gap: 55px;
    gap: 5vw;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-size: 1vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .main {
    .container_content_leonardo {
      background-color: $grey3;
      z-index: 30 !important;
      position: relative;

      .title_container {
        .name {
          color: $primary;
          font-weight: 800;
          font-size: clamp(24px, 8vw, 38px) !important;
          position: relative;
          margin-bottom: 0.7rem !important;

          &::after {
            content: "";
            position: absolute;
            width: 90%;
            // max-width: 478px;
            // max-width: 24vw;
            bottom: -7px;
            left: 60px;
            height: 4px;
            background-color: $primary;
          }

          @media (min-width: 982px) {
            // font-size: 2.5vw !important;
            // margin-bottom: 0.6vw !important;

            &::after {
              width: 90%;
              // max-width: 378px;
              // max-width: 26vw;
              // bottom: -0.5vw;
              left: 60px;
              // height: 0.3vw;
              height: 4px;
              background-color: $primary;
            }
          }

          @media (min-width: 1300px) {
            // font-size: 2.5vw !important;
            // margin-bottom: 0.6vw !important;

            &::after {
              width: 24vw;
              max-width: 24vw;
              left: 60px;
              height: 4px;
            }
          }

          @media (min-width: 1400px) {
            font-size: 2.5vw !important;
            font-size: 3rem !important;
            // margin-bottom: 0.6vw !important;

            &::after {
              width: 22vw;
              max-width: 22vw;
              // max-width: 378px;
              // max-width: 10vw;
              // bottom: -0.5vw;
              left: 60px;
              // height: 0.3vw;
              height: 6px;
            }
          }
        }

        .work {
          font-size: clamp(24px, 8vw, 38px) !important;
          color: $white-fixed;
          font-weight: 700 !important;

          @media (min-width: 982px) {
            // font-size: 2.6vw !important;
          }

          @media (min-width: 1400px) {
            font-size: 2.6vw !important;
            font-size: 3rem !important;
          }
        }
      }

      
      .container_about p {
        color: #8f8f8f;
        font-size: clamp(10px, 4vw, 15px);
        font-weight: 500;
        margin-top: 1vh !important;
        margin-bottom: 2vh !important;
        max-width: 396px;

        @media (min-width: 982px) {
          // font-size: 1vw !important;
          // max-width: 25vw;
        }

        @media (min-width: 1400px) {
          font-size: 1.2rem !important;
          max-width: 25vw;
        }
      }

      nav {
        gap: 20px;

        .link_social_media {
          @extend .center;
          width: 51px;
          height: 51px;

          border-radius: 50%;
          background-color: #353535;
          color: $white-fixed !important;
          transition: all 200ms;
          &:hover{
            transform: scale(1.2);
          }
          
          i {
            font-size: 18px;
          }

          @media (min-width: 982px) {
            // width: 3vw;
            // height: 3vw;
          }

          @media (min-width: 1400px) {
            // width: 3vw;
            // height: 3vw;

            width: 51px;
            height: 51px;
          }
        }


      }

      .cv_btn {
        font-size: 12px;
        font-weight: 600;

        @extend .center;

        @media (min-width: 982px) {
          // font-size: 1vw;
        }

        @media (min-width: 1400px) {
          font-size: 1rem;
        }
      }

      .port_btn {
        gap: 5px;
        border-radius: 10px;
        background: $primary;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        width: 151px;
        // padding: 10px 3rem !important;
        // height: 41px;

        svg {
          width: 26px;
        }

        @media (min-width: 1400px) {
          font-size: 1rem;
        }
      }
    }

    .container_img_leonardo {
      position: relative;
      background-color: $grey3;
      height: 80vh;
      max-height: 600px;
      img {
        position: relative;
        overflow: visible !important;
        // width: 100vw ;
        // min-width: 100vw;
        // object-fit: cover;
        bottom: 0 !important;
        left: 0vw;
        transform: translateX(-40%);
      }
    }
  }

  @media (min-width: 1200px) {
    height: 100vh !important;
    overflow-y: hidden !important;

    .main {
      .container_content_leonardo {
        height: 100vh;
        min-width: 45vw;
        padding-left: 10vw !important;
        position: relative;
        * {
          position: relative;
          z-index: 50;
        }
        &::before {
          content: "";
          height: 250vh;
          background-color: $grey3;
          min-width: 50vw;
          transform: rotate(-28deg);
          right: -17vw;
          position: absolute;
          z-index: 10 !important;
        }
        .title_container .name::after {
          width: 100%;
          left: 25%;
        }
      }
      .container_img_leonardo {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 20;
        z-index: 1;
        bottom: 0;
        min-width: 50vw;
        // left: 40%;
        inset: 0;
        max-height: unset;
        background-color: $grey7;
      }

      .container_img_leonardo img {
        width: unset;
        position: absolute;
        overflow: visible;
        min-height: 700px;
        height: 100vh;
        max-height: 100vh;
        object-fit: cover;
        left: 40%;
        bottom: -100px !important;
        transform: unset;
      }
    }
  }

  @media (max-width: 1400px) {
 

    .main {
      .container_img_leonardo img {
        min-height: 670px;
        min-height: 110vh !important;
        height: 110vh !important;
      }

      .container_content_leonardo {
        &::before {
          right: -14vw !important;
        }
      }
    }
  }

  @media (min-width: 1400px) {
    .main {
      .container_content_leonardo {
        &::before {
          right: -12vw !important;
        }
      }
    }
  }
}

.section_2 {
  background-color: #161616;
  padding-top: 106px !important;
  padding-bottom: 120px !important;
  // min-height: 100vh;
  position: relative;
  z-index: 999;

  .container_title{
    margin-bottom: 76px !important;

    h6{
      font-size: 50px;
      font-weight: 800;

    }
    
    &::after{
      position: absolute;
      content: "";
      width: 100px;
      height: 6px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary;
    }
  }

  .container_about_me{
    max-width: 1042px !important;
    
    p{
      font-weight: 500;
      font-size: clamp(20px, 2vw, 30px);
      line-height: normal;
      color: $grey9;

      span{
        color: $primary;
      }
    }

    @media (min-width: 1400px){
      max-width: 1242px;
    }
  }
}



