* {
  margin: 0 !important;
  padding: 0 !important;
}

html,body{
  width: 100vw ;
  max-width: 100vw; 
  overflow-x: hidden ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button {
  font-family: "Poppins", sans-serif;
  font-style: normal ;
  line-height: normal !important; 
}

.btn{
  color: $white-fixed !important;
}

