// Aqui fica as cores
// E variaveis

$primary: #3c5bff;

$black-fixed: #000;
$white-fixed: #ffffff;

$grey1: #161616;
$grey2: #1d1d1d;
$grey3: #202020;
$grey4: #272727;
$grey5: #252525;
$grey6: #343434;
$grey7: #3f3f3f;
$grey8: #353535;
$grey9: #8f8f8f;

$white1: #e2e2e2;
$white2: #c1c1c1;


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}