.center, .section_1 .main .container_content_leonardo .cv_btn, .section_1 .main .container_content_leonardo nav .link_social_media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #3c5bff !important;
  transition: all 300ms;
}

.btn-primary:hover {
  transform: scale(1.1);
  background-color: #3c5bff !important;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  min-width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal !important;
}

.btn {
  color: #ffffff !important;
}

.section_1 {
  background-color: #202020;
  max-height: 1100px;
  overflow: hidden;
  min-height: 100vh;
}
.section_1 .header nav {
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999999;
  top: 2vw;
  gap: 5vw;
}
.section_1 .header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section_1 .main .container_content_leonardo {
  background-color: #202020;
  z-index: 30 !important;
  position: relative;
}
.section_1 .main .container_content_leonardo .title_container .name {
  color: #3c5bff;
  font-weight: 800;
  font-size: clamp(24px, 8vw, 38px) !important;
  position: relative;
  margin-bottom: 0.7rem !important;
}
.section_1 .main .container_content_leonardo .title_container .name::after {
  content: "";
  position: absolute;
  width: 90%;
  bottom: -7px;
  left: 60px;
  height: 4px;
  background-color: #3c5bff;
}
@media (min-width: 982px) {
  .section_1 .main .container_content_leonardo .title_container .name::after {
    width: 90%;
    left: 60px;
    height: 4px;
    background-color: #3c5bff;
  }
}
@media (min-width: 1300px) {
  .section_1 .main .container_content_leonardo .title_container .name::after {
    width: 24vw;
    max-width: 24vw;
    left: 60px;
    height: 4px;
  }
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo .title_container .name {
    font-size: 2.5vw !important;
    font-size: 3rem !important;
  }
  .section_1 .main .container_content_leonardo .title_container .name::after {
    width: 22vw;
    max-width: 22vw;
    left: 60px;
    height: 6px;
  }
}
.section_1 .main .container_content_leonardo .title_container .work {
  font-size: clamp(24px, 8vw, 38px) !important;
  color: #ffffff;
  font-weight: 700 !important;
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo .title_container .work {
    font-size: 2.6vw !important;
    font-size: 3rem !important;
  }
}
.section_1 .main .container_content_leonardo .container_about p {
  color: #8f8f8f;
  font-size: clamp(10px, 4vw, 15px);
  font-weight: 500;
  margin-top: 1vh !important;
  margin-bottom: 2vh !important;
  max-width: 396px;
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo .container_about p {
    font-size: 1.2rem !important;
    max-width: 25vw;
  }
}
.section_1 .main .container_content_leonardo nav {
  gap: 20px;
}
.section_1 .main .container_content_leonardo nav .link_social_media {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #353535;
  color: #ffffff !important;
  transition: all 200ms;
}
.section_1 .main .container_content_leonardo nav .link_social_media:hover {
  transform: scale(1.2);
}
.section_1 .main .container_content_leonardo nav .link_social_media i {
  font-size: 18px;
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo nav .link_social_media {
    width: 51px;
    height: 51px;
  }
}
.section_1 .main .container_content_leonardo .cv_btn {
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo .cv_btn {
    font-size: 1rem;
  }
}
.section_1 .main .container_content_leonardo .port_btn {
  gap: 5px;
  border-radius: 10px;
  background: #3c5bff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  width: 151px;
}
.section_1 .main .container_content_leonardo .port_btn svg {
  width: 26px;
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo .port_btn {
    font-size: 1rem;
  }
}
.section_1 .main .container_img_leonardo {
  position: relative;
  background-color: #202020;
  height: 80vh;
  max-height: 600px;
}
.section_1 .main .container_img_leonardo img {
  position: relative;
  overflow: visible !important;
  bottom: 0 !important;
  left: 0vw;
  transform: translateX(-40%);
}
@media (min-width: 1200px) {
  .section_1 {
    height: 100vh !important;
    overflow-y: hidden !important;
  }
  .section_1 .main .container_content_leonardo {
    height: 100vh;
    min-width: 45vw;
    padding-left: 10vw !important;
    position: relative;
  }
  .section_1 .main .container_content_leonardo * {
    position: relative;
    z-index: 50;
  }
  .section_1 .main .container_content_leonardo::before {
    content: "";
    height: 250vh;
    background-color: #202020;
    min-width: 50vw;
    transform: rotate(-28deg);
    right: -17vw;
    position: absolute;
    z-index: 10 !important;
  }
  .section_1 .main .container_content_leonardo .title_container .name::after {
    width: 100%;
    left: 25%;
  }
  .section_1 .main .container_img_leonardo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    z-index: 1;
    bottom: 0;
    min-width: 50vw;
    inset: 0;
    max-height: unset;
    background-color: #3f3f3f;
  }
  .section_1 .main .container_img_leonardo img {
    width: unset;
    position: absolute;
    overflow: visible;
    min-height: 700px;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    left: 40%;
    bottom: -100px !important;
    transform: unset;
  }
}
@media (max-width: 1400px) {
  .section_1 .main .container_img_leonardo img {
    min-height: 670px;
    min-height: 110vh !important;
    height: 110vh !important;
  }
  .section_1 .main .container_content_leonardo::before {
    right: -14vw !important;
  }
}
@media (min-width: 1400px) {
  .section_1 .main .container_content_leonardo::before {
    right: -12vw !important;
  }
}

.section_2 {
  background-color: #161616;
  padding-top: 106px !important;
  padding-bottom: 120px !important;
  position: relative;
  z-index: 999;
}
.section_2 .container_title {
  margin-bottom: 76px !important;
}
.section_2 .container_title h6 {
  font-size: 50px;
  font-weight: 800;
}
.section_2 .container_title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 6px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3c5bff;
}
.section_2 .container_about_me {
  max-width: 1042px !important;
}
.section_2 .container_about_me p {
  font-weight: 500;
  font-size: clamp(20px, 2vw, 30px);
  line-height: normal;
  color: #8f8f8f;
}
.section_2 .container_about_me p span {
  color: #3c5bff;
}
@media (min-width: 1400px) {
  .section_2 .container_about_me {
    max-width: 1242px;
  }
}

.section_3 {
  background-color: #272727;
}
.section_3 ul li {
  margin: 0.5rem !important;
}
.section_3 ul li img {
  width: 80px;
  height: 80px;
  transition: all 200ms;
  cursor: pointer;
}
.section_3 ul li img:hover {
  transform: scale(1.2);
}

.section_4 {
  background-color: #1d1d1d;
}
.section_4 ul {
  gap: 68px;
  margin-top: 52px !important;
}
.section_4 ul .date {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section_4 ul .title {
  color: #006bff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section_4 ul .location {
  color: #c1c1c1;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section_4 .title_section {
  color: #fff;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section_5 {
  background-color: #202020;
  padding-top: 106px !important;
  padding-bottom: 120px !important;
}
.section_5 .container_title {
  margin-bottom: 76px !important;
}
.section_5 .container_title h6 {
  font-size: 50px;
  font-weight: 800;
}
.section_5 .container_title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 6px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3c5bff;
}
.section_5 .swiper {
  /* width: 600px; */
  height: 601px;
  min-width: 412px;
  border-radius: 18px !important;
}
.section_5 .swiper-slide {
  height: 501px;
  width: 412px;
  background-color: #272727;
  border-radius: 18px;
  border-radius: 18px !important;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.16);
}
.section_5 .swiper-slide-container-content {
  background-color: #272727;
  padding: 25px;
  border-radius: 0px 0px 18px 18px;
}
.section_5 .swiper-slide-container-content h6 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.section_5 .swiper-slide-container-content p {
  width: fit-content;
  color: #e2e2e2;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section_5 .swiper-slide-container-content a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 300ms;
}
.section_5 .swiper-slide-container-content a:hover {
  color: #3c5bff;
  transform: scale(1.1);
}
.section_5 .swiper-slide-container-img img {
  border-radius: 18px 18px 0px 0px !important;
  height: 321px;
  object-fit: cover;
  width: 100%;
}
.section_5 .swiper-pagination {
  display: none !important;
}

.section_6 {
  background-color: #1d1d1d;
  padding: 6rem 0 !important;
  width: 100%;
}
.section_6 .contact-box {
  margin: 0 auto !important;
  border-radius: 33px;
  width: 90% !important;
  max-width: 605px !important;
  height: 685px;
  background-color: #272727;
  padding: 91px 0 !important;
}
.section_6 .contact-box .container-line {
  color: #ffffff;
}
.section_6 .contact-box .container-line .line-1 {
  width: 50%;
  height: 3px;
  background-color: #ffffff;
}
.section_6 .contact-box .container-line p {
  color: #fff;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (min-width: 576px) {
  .section_6 .contact-box .container-line p {
    font-size: 34px;
  }
}
.section_6 .contact-box .line-2 {
  width: 50%;
  height: 3px;
  background-color: #ffffff;
}
.section_6 ul li {
  color: #fff;
  height: auto;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 576px) {
  .section_6 ul li {
    font-size: 24px;
  }
}
@media (min-width: 700px) {
  .section_6 {
    padding: 6rem 0 !important;
  }
}

.footer {
  background-color: #272727 !important;
}

/*# sourceMappingURL=style.css.map */
